@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<p>Hi! My name is Vince Lawrence Repia student of Lyceum of Alabang! Taking course of Bachelor of Science Information Technology</p>
<p>I choose Bachelor of Science in Information Technology because i want to fulfill an area of concentration in Information technology.  
   I choose Information Technology because it focuses the application of computers and computer software to manage information systems to meet the needs of industry and government.The development, management, and maintenance of Information Technology systems are key competitive factors tat are essential to business success in today’s world. 
   I want to be an Information Technology professional  so that i can create powerful programs that could make me famous in the world of Information Technology(joke hahahaha). 
   I know that creating programs are much difficult but i should strive more and do all my best for all of my ambitions.</p>
